.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

p{
    flex-wrap: wrap;
}

.left{
    width: 33%;
}

.right{
    width: 66%;
}

.right-header, .right-footer{
    background-color: #F9FAFB;
}