.container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

p{
    flex-wrap: wrap;
}

.left{
    width: 40%;
    background-image: url(https://static.wikia.nocookie.net/princess-connect/images/d/d1/Kyaru-astrum2-sprite-normal.png/revision/latest?cb=20190621060929);
}

.right{
    width: 60%;
}

.right-header, .right-footer{
    background-color: #F9FAFB;
}

.right-footer, .form{
    height: 25%;    
}

.right-header{
    height: 50%;
    padding-left:100 px ;
    display: block;
}

p:first-child{
    padding-top: 5%;
    padding-left: 20%;
    font-size: xx-large;
    font-weight: 500;
}

p:nth-child(2){
    padding-left: 20%;
    margin-top: 10% ;
    font-weight: 100;
    font-size: medium;
}

p:nth-child(3){
    margin-top: 14%;
    font-weight: 100;
    font-size: xx-small;
}



.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border:1px;
    padding: 2px;
    box-shadow: 0px 0px 8px 3px #888888; 
}

#logo{
    position : absolute;
    top: 50px;
    left: 100px;
}

.right-footer{
display: flex;
flex-direction: column;
align-items: center;
align-self: center;
}

.name, .password, .email{
    font-size: small;
    margin: 20px 10px 10px 100px;
}
 p{
    padding-left: 5%;
 }

button{
    border: 2px solid rgb(6, 75, 92);
    border-radius: 4px;
    background: rgb(6, 75, 92);
    color: rgb(106, 227, 249);
    padding: 10px;
    box-sizing: border-box;
    outline: none !important;
}