.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

p{
    flex-wrap: wrap;
}

.left{
    width: 44%;
    background-image: url(https://static.wikia.nocookie.net/princess-connect/images/d/d1/Kyaru-astrum2-sprite-normal.png/revision/latest?cb=20190621060929);
}

.right{
    width: 56%;
}

.right-header, .right-footer{
    background-color: #F9FAFB;
}

.right-header, .right-footer, .form{
    height: 33%;    
}

.form{
    border:1px;
    padding: 2px;
    box-shadow: 0px 0px 8px 3px #888888; 
}